{deps_dirs,["deps"]}.
{deps,
 [
  {cowboy, ".*", {git, "http://github.com/extend/cowboy.git", {tag, "master"}}},
  {erlang_js, ".*", {git, "http://github.com/basho/erlang_js.git", {tag, "master"}}},
  {bert, ".*", {git, "http://github.com/xinmingyao/bert.erl.git", {tag, "master"}}}
 ]}.


%% Uncomment to use the Java client bench driver
%% {escript_emu_args, "%%! -name bb@127.0.0.1 -setcookie YOUR_ERLANG_COOKIE\n"}.
